{% load widget_tweaks %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SymptoGenius</title>
    <link
    href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
    rel="stylesheet"  type='text/css'>
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
    <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <!--For Icons-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!--Dropdown Toggle of Profile-->
    <script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
    <script src="{% static 'diagnosis/js/navbar.js' %}" type="text/javascript"></script></head>
    {% tailwind_preload_css %}
    {% tailwind_css %}
</head>
<body>
<script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
  <header class="min-w-full bg-black">
    <div class='min-w-full' w3-include-html="{% url 'navbar' %}"></div>
  </header>
    <div class="flex min-h-screen">
  {% block body %}
  {% endblock %}
</div>
  <footer>
    <div w3-include-html="{% url 'footer' %}"></div>
      <script>
          includeHTML();
      </script>
  </footer>
</body>